
/* Media Queries */
/* Menu principal mobile */
@media screen and (max-width: 1200px) {
	.grid .product-boxes{
		margin: 0px 0px 0px 192px;
	}
	.grid .products-col .product-boxes{
		margin: 0px 0px 0px 185px;
	}	
	.container {
		max-width: 100%;
	}
	.nivo-directionNav a {
		width: 50px;
		height: 50px;
	}
	.nivo-prevNav {
		margin-left: -52px;
	}
	.theme-default .nivo-directionNav a i {
		margin-top: 5px;
		font-size: 2.5em;
	}
	#newsletter input{
		max-width: 200px;
		font-size: 13px;
	}
	.cart-detail-shipping #calculate-shipping-button{
		margin-top: 10px;
	}
	.grid .products-col div.single-product{
		width: 235px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		max-width: 100%;
	}
	.header-bar-fixed .col-sm-3{
		width: 100%;
		text-align: center;
	}
	.header-bar-fixed .col-sm-9{
		width: 100%;
		text-align: center;
	}
	.grid div.single-product{
	}
	.grid .product-boxes{
		margin: 0px 0px 0px 136px;
	}
	.grid .products-col .product-boxes{
		margin: 0px 0px 0px 130px;
	}	
	#menu-fixed.sf-menu{
		width: 100%;
	}
	.header-bar-main #logo img {
		max-height: 280px;
		max-width: 265px;
	}
	.sf-menu li a {
		font-size: 13px;
	}
	.sf-menu li{
		margin: 0px 0px;
	}
	#menu-fixed.sf-menu a {
		font-size: 11px;
	}
	#newsletter .col-md-4, #newsletter .col-md-8{
		width: 100%;
		text-align: center;
	}
	#newsletter input{
		max-width: 220px;
	}
	.newsletter-text{
		margin: 35px 0px 0px 0px;
	}
	.cart-summary i {
		font-size: 1.6em;
	}
	.header-bar-top .col-izq-top{
		width: 50%;
	}
	.header-bar-top .col-der-top{
		width: 50%;
	}
	.searchbox .text-input{
		width: 150px;
	}
	.header-bar-top, .header-bar-top a, .header-bar-top p{
		font-size: 12px;
	}
	#menu-fixed.sf-menu{
		margin: 5px 0px 5px 0px;
	}
	.cart-table img{
		max-width: 70px;
	}
	.cart-table input{
		max-width: 50px;
		padding: 0px;
		margin: 0 auto;
	}
	table.cart-table td{
		padding: 0.5em 1em;
	}
	.cart-table thead th, .cart-table td, .cart-table td a{
		font-size: 14px;
	}
	.grid .products-col div.single-product{
		width: 180px;
	}
	.category-col .category-list a{
		font-size: 13px;
	}
	    /*banner services*/
    #banner-services{
        width: 95%;
    }
    #banner-services .col-md-4 .banner-service-item, .col-md-6 .banner-service-item, .col-xs-12 .banner-service-item{
        width: 240px;
        margin: 20px auto;
		height: 35px;
    }
    #banner-services .col-md-4 .banner-service-item h4, .col-md-6 .banner-service-item h4, .col-xs-12 .banner-service-item h4{
        font-size: 14px;
    }
    .banner-services-footer #banner-services {
		width: 720px;
		margin: 6px auto 0px auto;
	}
    /*End Banner Services*/
}

@media (max-width: 768px) {
	.container{
		width: 600px;
	}
	.header-bar-top .container .row .col-sm-4 {
		text-align:center;
		width: 100%;
	}
	.header-bar-top .container .row .col-sm-8 {
		text-align:center;
		width: 100%;
		margin-bottom: 10px;
	}
	.header-bar-top {
		line-height: 20px;
	}
	nav.mobile {
		display: block;
	}
	.cart-mobile{
		display: block;
	}
	.header-bar-main .row .col-md-12.logo-container, .header-bar-fixed .col-sm-3.logo-container{
		width: 70%;
		float: left;
		text-align: left;
	}
	.header-bar-main .row .col-md-12.cart-mobile, .header-bar-fixed .col-md-12.cart-mobile{
		width: 30%;
		float: left;
	}
	.header-bar-fixed .cart-mobile-container{
		margin-top: 25px;
		width: 35px;
	}
	.header-bar-fixed .cart-mobile-container .cart-summary .cart-total{
		display: none;
	}
	.header-bar-fixed .cart-mobile-container .cart-summary i{
		font-size: 1.5em;
	}
	.header-bar-fixed .cart-mobile-container .cart-summary .cart-circle{
		font-size: 11px;
		width: 18px;
		height: 18px;
		line-height: 17px;
	}
	.header-bar-fixed nav.mobile{
		margin-bottom: 5px;
	}
	.header-bar-fixed nav.mobile select{
		font-size: 14px;
		padding: 3px 5px
	}
	.header-bar-main #logo img{
		width: 100%;
		max-width: 260px;
	}
	#menu {
		display: none;
	}
	#menu, #menu-fixed {
		display: none;
	}
	.searchbox {
		display: none;
	}
	.header-bar-fixed .col-sm-3{
		display: block;
		width: 100%;
		text-align: center;
	}
	.grid div.single-product{
		max-width: 300px;
		width: 50%;
	}
	.grid .products-col div.single-product{
		width: 190px;
	}
	.grid .products-col .product-boxes{
		margin: 0px 0px 0px 140px;
	}
	.grid .product-boxes{
		margin: 0px 0px 0px 250px;
	}
	#newsletter input{
		max-width: 420px;
		margin-bottom: 15px;
	}
	.newsletter-text{
		margin: 35px 0px 0px 0px;
	}
	.header-bar-top .col-izq-top{
		width: 100%;
		text-align:center;
	}
	.header-bar-top .col-der-top{
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}
	.searchbox i{
		margin-top: 7px;
	}
	.cart-detail-totals input.cart-button, .cart-detail-totals input.cart-general-button {
		width: 100%;
		margin-top: 5px;
	}
	.cart-table thead th:first-child{
		display: none;
	}
	.cart-table thead th:first-child, .cart-table td.pic{
		display: none;
	}
	.cart-table .title{
		padding-left: 1.5em;
	}
	.cart-table thead th.start{
		padding-left: 1.5em;
	}
	.category-col{
		display: none;
	}
	.category-col.accordion{
		display: block;
		margin-bottom: 10px;
	}
	.category-col.accordion .category-list{
		padding-bottom: 0px;
		float: left;
		width: 100%;
	}
	.category-col.accordion .collapse-button{
		float: left;
		width: 100%;
	}
	.category-col.accordion .collapse-button h2{
		float: left;
	}
	.category-col.accordion .collapse-button i{
		float: right;
		font-size: 1.6em;
	}
	#collapseContent{
		float: left;
	}
	.category-col .category-list a{
		font-size: 15px;
	}
	.text-404{
		font-size: 15em;
	}
	select.sort-by.form-control {
	width: 100%;
	}
	    /* banner services*/
    #banner-services .banner-service-item .service-text{
        float:left;
        width: auto;
        width: 230px;
    }
    #banner-services .banner-service-item .service-icon{
        width:50px;
       float:left;
       margin-right: 10px;
    }
    #banner-services .col-md-4 .banner-service-item, .col-md-6 .banner-service-item, .col-xs-12 .banner-service-item {
        width: 310px;
    }
    #banner-services .col-md-6:first-child .banner-service-item{
    margin-top: 0px;
	}
    #banner-services .col-md-6 .banner-service-item{
    margin-top: 20px;
	}
    /*End Banner Services*/
}

@media (max-width: 640px) {
	.grid {
		max-width: 300px;
	}
	.grid div.single-product {
		width: 100%;
	}
	.grid .products-col div.single-product{
		width: 300px;
	}
	.grid .products-col .product-boxes{
		margin: 0px 0px 0px 250px;
	}
	.container {
		max-width: 100%;
	}
	.nivo-directionNav a {
		width: 40px;
		height: 40px;
	}
	.nivo-prevNav {
		margin-left: -42px;
	}
	.theme-default .nivo-directionNav a i {
		margin-top: 4px;
		font-size: 2em;
	}
	.welcome-message h1{
		font-size: 24px;
	}
	#newsletter button{
		margin: 0px 50px;
	}
	.social-networks .section-title .title{
		font-size: 24px;
	}
	.social-networks a{
		width: 42px;
		font-size: 1.5em;
		margin-bottom: 10px;
	}
	#newsletter input{
		margin-bottom: 15px;
		width: 80%;
		margin-right: 0px;
	}
	.cart-table thead th, .cart-table td, .cart-table td a{
		font-size: 13px;
	}
	.cart-table input{
		font-size: 13px;
		width: 45px;
		height: 35px;
	}
	table.cart-table th, table.cart-table td{
		padding: 0.75em 0.2em;
	}
	.cart-detail-totals .total-price p{
		text-align: center;
	}
	.text-404{
		font-size: 12em;
	}
	input#shipping-cep {
		max-width: 100%;
	}
	.loadMoreBtn {
		width: 90%;
	}
    li[id^="method"].active a {
        border-bottom: 1px solid #ddd ;
    }
}
@media (max-width: 480px){
    #banner-services .service-text h4, p{
        font-size: 12px!important;
    }
    #banner-services i {
        font-size: 34px;
    }
    #banner-services .col-md-4 .banner-service-item, .col-md-6 .banner-service-item, .col-xs-12 .banner-service-item {
        width: 290px;
    }
    .fb_iframe_widget span{
        height: 160px!important;
        display: block!important;
        text-align: center!important;
    }
    .fb_iframe_widget{
      margin: 7px auto 0px auto!important;
      width: 100%!important;
    }
    .fb_iframe_widget iframe{
      height: 130px!important;
      position: relative!important;
    }
}
@media (max-width: 320px) {
	.grid .product-boxes{
		display: none;
	}
	#newsletter button{
		margin: 0px;
	}

}