<!-- MENU PUSHY -->
            <!--<nav class="pushy pushy-left">
                <ul>
                     {% snipplet "navigation-mobile.tpl" %}
                </ul>
            </nav>-->

            <!-- SITE OVERLAY(?) -->
            <!--<div class="site-overlay"></div>-->
            
            
            <!--OPCOES DE LINGUAGEM-->
            <!--
            {% if languages | length > 1 %} 
                <div class="span4">
                    <div class="languages">
                        {% for language in languages %}
                            {% set class = language.active ? "active" : "" %}
                                <a href="{{ language.url }}" class="{{ class }}">{{ language.country | flag_url | img_tag(language.name) }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}-->
            
            <!--MENU MOBILE-->
            <!--<div class="mobile mobile-nav {% if languages | length > 1 %}mobile-nav-lang{% endif %}">
                <div class="menu-btn"><i class="fa fa-bars"></i></div>
            </div>-->
            
            <!--CONTAS-->
            <!--{% if store.has_accounts %}
                !-- if store.has_accounts == TRUE -->

                    <!--{% if not customer %}
                    <!-- if not customer == TRUE -->

                        <!--{% if 'mandatory' not in store.customer_accounts %}
                            <!-- if not customer == TRUE -->
                            <!--{{ "Crear cuenta" | translate | a_tag(store.customer_register_url) }} <span class="divider">-</span>
                        {% endif %}

                        <!-- Iniciar sesión -->
                        <!--{{ "Iniciar sesión" | translate | a_tag(store.customer_login_url) }}

                    {% else %}
                    <!-- if not customer == FALSE -->

                    <!--{{ "Mi cuenta" | translate | a_tag(store.customer_home_url) }} <span class="divider">-</span>
                    {{ "Cerrar sesión" | translate | a_tag(store.customer_logout_url) }}

                    {% endif %}

            {% endif %}-->   
            
            <!--BUSCA INTERNA-->
            <!--<div class="searchbox">
                <form action="{{ store.search_url }}" method="get">
                    <input class="text-input" type="text" name="q" placeholder="{{ 'buscar' | translate }}"/>
                    <i class="fa fa-search"></i>
                    <input class="submit-button" type="submit" value=""/>
                </form>
            </div>-->   
            
            
            <!-- MOBILE CARRINHO -->   
            <!--<div class="mobile-cart-container">
                <!-- MOBILE CART CONTAINER --> 
                <!--{% if not store.is_catalog and template != 'cart' %}
                    <!-- if not store.is_catalog and template != 'cart' == TRUE -->
                        <!--{% snipplet "cart.tpl" as "cart" %}
                {% endif %}

            </div>-->
            
            <!-- CARRINHO --> 
            <!--<div class="cart-snipplet hidden-phone">
                {% if not store.is_catalog and template != 'cart' %}
                    {% snipplet "cart.tpl" as "cart" %}
                {% endif %}
            </div>-->
            
            <!--HEADER SLIN-->
            <!--{% if settings.slim_menu %}
                    <!-- if settings.slim_menu == TRUE -->

                    <!--<div class="wrapper hidden-phone" id="header-slim">
                        <div class="row-fluid">
                            <div class="container">
                                <div class="span4 slim-logo">
                                    <div class="logo {% if not has_logo %}text-only{% endif %}">
                                        {% if "slim-logo.jpg" | has_custom_image %}
                                            {{ "slim-logo.jpg" | static_url | img_tag | a_tag(store.url) }}
                                        {% elseif has_logo %}
                                            {{ store.logo | img_tag | a_tag(store.url) }}
                                        {% else %}
                                            <a href="{{ store.url }}">{{ store.name }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="navigation" class="span8 slim-navigation">
                                    <ul id="menu-slim" class="sf-menu">
                                        {% snipplet "navigation.tpl" %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
        {% endif %}-->

        <!--BANNER SERVICES-->
        <!--<div class="banner-services-footer">
            {% if settings.banner_services %}
                <!-- IF settings.banner_service == TRUE -->

                    <!--{% include 'snipplets/banner-services.tpl' %}
                {% endif %}
        </div>-->

        <!--WRAPPER SOCIAL-->
        <!--{% if store.facebook or store.twitter or store.google_plus or store.pinterest or store.instagram %}
                    <!-- IF store.facebook or store.twitter or store.google_plus or store.pinterest or store.instagram == TRUE -->

                    <!--<div id="wrapper-social">
                        <div class="row-fluid">
                            <div class="container">
                                {% for sn in ['facebook', 'twitter', 'google_plus', 'pinterest', 'instagram'] %}
                                    {% set sn_url = attribute(store,sn) %}
                                    {% if sn_url %}
                                        <a class="soc-foot {{ sn }}" href="{{ sn_url }}" target="_blank" {% if sn == 'google_plus' %}rel="publisher"{% endif %}><i class="fa fa-{{ sn }} fa-4x"></i></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                {% elseif show_help  %}
                    <!-- IF store.facebook or store.twitter or store.google_plus or store.pinterest or store.instagram == FALSE -->

                    <!--{% snipplet "defaults/show_help_social.tpl" %}

                {% endif %}-->

        <!--MENU FOOTER-->
        <!--<div class="span3">
            <span class="subheader">{{ "Más información" | translate }}</span>
                <ul class="foot-nav">
                    {% snipplet "navigation-foot.tpl" %}
                </ul>
        </div>-->

        <!--BREADCRUMBS-->
        <!--<div class="bread-container pull-right">
            {% snipplet "breadcrumbs.tpl" %}
        </div>-->

        <!--BANNER PRODUCTS -->
        <!--{% if "banner-products.jpg" | has_custom_image %}
            <div class="banner">
                {% if settings.banner_products_url != '' %}
                    {{ "banner-products.jpg" | static_url | img_tag | a_tag(settings.banner_products_url) }}
                {% else %}
                    {{ "banner-products.jpg" | static_url | img_tag }}
                {% endif %}
            </div>
        {% endif %}
        {% if settings.banner_services_category %} 
            {% include 'snipplets/banner-services.tpl' %}
        {% endif %}
        {% if not show_help %}-->

        <!--SIDEBAR -->
        <!--{% if show_sidebar %}
            {% snipplet 'sidebar.tpl' %}
        {% endif %}-->

        <!--ORDENAR POR-->
        <!--<div class="sort-bar">
            {% snipplet 'sort_by.tpl' %}
        </div>-->

        <!--LISTAR PRODUTOS -->
        {% if products %}
            <div class="product-table">
                {% snipplet "product_grid.tpl" %}
            </div>
            {% else %}
            <div class="filters-msg">
                {{(has_filters ? "No tenemos productos en esas variantes. Por favor, intentá con otros filtros." : "Próximamente") | translate}}
            </div>
        {% endif %}

        <!--HELP CATEGORY -->
        {% elseif show_help %}
            {% snipplet 'defaults/show_help_category.tpl' %}
        {% endif %}

        <!--PAGINATION-->
        {% if settings.infinite_scrolling and not pages.is_last and products%}
            <a id="loadMoreBtn" class="button secondary"><i class="fa fa-circle-o-notch fa-spin loadingSpin"></i>{{ 'Mostrar más productos' | t }}</a>
        {% endif %}
        <div class="crumbPaginationContainer bottom">
            <div class='pagination'>
                {% snipplet "pagination.tpl" %}
            </div>
        </div>


            